@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/colors" as *;
@use "./partials/paddings" as *;


.hero {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
}

// .hero {
//     height: 50vh;
// }

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url('../public/assets/images/background16.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.afterHours {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background14.jpeg');
}


.holidayHours {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background17.png');
}

.nurse {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 67vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/background18.png');
}

.contact {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    background-image: url('../public/assets/images/contact2.jpg');
}
// .hero {
//     height: 50vh;
// }

// .afterHours::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     opacity: 1;
//     background-image: url('../public/assets/images/background12.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }


.navbar {

}

