@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/colors" as *;
@use "./partials/paddings" as *;


.shadow {
    box-shadow: 
        0 0 5px rgb(144, 250, 144),
        0 0 5px rgb(144, 250, 144),
        0 0 5px rgb(144, 250, 144),
        0 0 5px rgb(144, 250, 144);
}


.image-shadow {
    box-shadow: 0 40px 20px -2px rgb(0, 0, 0);
}

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.logos {
    overflow: hidden;
    padding:60px 0px;
    background: red;
}

.logos-slide {
    display:flex;
    white-space:nowrap;
    margin: 0 40px;
    animation: 5s slide infinite linear;
}

